@font-face {
  font-family: 'GothicA1-Regular';
  src: url('/fonts/Gothic_A1/GothicA1-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'GothicA1-Light';
  src: url('/fonts/Gothic_A1/GothicA1-Light.ttf')
  format('truetype');
}

@font-face {
  font-family: 'GothicA1-Thin';
  src: url('/fonts/Gothic_A1/GothicA1-Thin.ttf')
  format('truetype');
}

@font-face {
  font-family: 'GothicA1-SemiBold';
  src: url('/fonts/Gothic_A1/GothicA1-SemiBold.ttf')
  format('truetype');
}

@font-face {
  font-family: 'GothicA1-Medium';
  src: url('/fonts/Gothic_A1/GothicA1-Medium.ttf')
  format('truetype');
}

@font-face {
  font-family: 'ShipporiMincho-Regular';
  src: url('/fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'ShipporiMincho-Medium';
  src: url('/fonts/Shippori_Mincho/ShipporiMincho-Medium.ttf')
  format('truetype');
}

@font-face {
  font-family: 'ShipporiMincho-SemiBold';
  src: url('/fonts/Shippori_Mincho/ShipporiMincho-SemiBold.ttf')
  format('truetype');
}


@font-face {
  font-family:
  'Antic-Regular';
  src: url('/fonts/Antic/Antic-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'CormorantGaramond-Regular';
  src: url('/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'CormorantGaramond-Light';
  src: url('/fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf')
  format('truetype');
}

@font-face {
  font-family: 'CormorantGaramond-Medium';
  src: url('/fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('/fonts/Lato/Lato-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('/fonts/Lato/Lato-Light.ttf')
  format('truetype');
}


body{
  background-color:rgb(255, 255, 255);
 
  font-size: 24px;
  font-weight: 0;

  margin: 0;
  padding-top:100px;
  padding-left: 50px;
  padding-right: 50px;
}


.link:link, .link:visited{
  text-decoration: none;
  color:black;
}
