.sidebar{
  position:fixed;
  left: clamp(300px, 75%, 75%);
  right: 0;
 
  bottom:0;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 65px;

  z-index: 3;

  margin-left:10%;
  margin-top: 11.5%;

  text-align: justify;
}

.sidebar-link{
  height: 100px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: stretch;
  
  cursor: pointer;
  background-color:rgb(255, 255, 255);
  margin-top: 80px;
  margin-bottom: 80px;
}

@media(max-height:899px) {
  .sidebar{
    margin-top: 5vh;
  }
  .sidebar-link{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}

.sidebar-link:hover .nav-text{
 
  text-shadow: 30px 0px rgb(254, 227, 55);
}

.nav-text{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  font-family: Lato-Light;
  color:rgb(0, 0, 0);

  font-size: 22px;
  opacity: 1;
  background-color:rgb(255, 255, 255);
  z-index: 1;

  

}

@media(max-width:799px) {
  .nav-text{
    font-size: 20px;
  }
}

@media(min-width:800px) and (max-width:1349px){
  .nav-text{
    font-size: 24px;
  }
}

@media(min-width:1350px) and (max-width:1799px){
  .nav-text{
    font-size: 28px;
  }
}


@media(min-width:1800px) {
  .nav-text{
    font-size: 32px;
  }
}

/*
.sidebar-link:hover .overlay-nav{
  background-color:rgb(255, 242, 0);
  z-index: 0;
  opacity: 0.7;

}

.overlay-nav{
  position: absolute;
  width: 100px;
  height: 10px;
  margin-top: 25px;
}
*/